.headerLogo{
    width: 280px;
    height: 120px;
}

.bookImages{
    height: 200px;
    width: 350px;
    object-fit: fill;
    box-shadow: 2px 2px 5px var(--orange-shadow);
}

.likebutton{
    height: 40px;
    width: 40px;
    padding: 8px 0 0 8px;
}

.commentInput{
    width: 280px;
    height: 30px;
    margin-right: 8px;
    padding: 5px;
    border: none;
    border-bottom: 1px var(--orange-shadow);
    border-radius: 10px;
}

.sharebutton{
    height: 32px;
    width: 32px;
}

.likebutton:hover{
    cursor: pointer;
}

.sharebutton:hover{
    cursor: pointer;
}