/* images and button designs */
.headerLogo{
    width: 280px;
    height: 120px;
}

.bookImages{
    height: 200px;
    width: 350px;
    object-fit: fill;
    box-shadow: 2px 2px 5px var(--orange-shadow);
}

.likebutton{
    height: 40px;
    width: 40px;
    padding: 8px 0 0 8px;
}

.inputfields{
    display: flex;
}

.nameInput{
    width: 100px;
    height: 30px;
    padding: 5px;
    border: none;
    border-bottom: 1px var(--orange-shadow);
    border-radius: 10px 0 0 10px;
}

.commentInput{
    width: 180px;
    height: 30px;
    margin-right: 8px;
    padding: 5px;
    border: none;
    border-bottom: 1px var(--orange-shadow);
    border-radius: 0 10px 10px 0;
}

.sharebutton{
    height: 32px;
    width: 32px;
}

/* hover effects */
.likebutton:hover{
    cursor: pointer;
    content: url(../assets/icons/002-lieblings-1.png);
}

.sharebutton:hover{
    cursor: pointer;
    content: url(../assets/icons/007-like-button-1.png);
}

.bookContainer:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.01);
}