/* fonts */

/* color variables */
:root{
    --light-turquoise: rgb(12, 176, 152);
    --dark-turquoise: rgb(8, 124, 106);
}


/* general styling */
header, footer{
    height: 120px;
    width: 100%;
    background: var(--light-turquoise);
}

main{
    min-height: calc(100vh - 240px);
    width: 100%;
    background: var(--dark-turquoise);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookListContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.bookContainer{
    height: 400px;
    width: 400px;
    background: var(--light-turquoise);
    border-radius: 25px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
