/* color variables */
:root {
    --pink: #ECD1DF;
    --pink-transparent: #ce869ca1;
    --purple: #B483B5;
    --purple-transparent: #9c7eb898;
    --yellow: #F7EFDF;
    --yellow-transparent: #f7efdfa5;
    --yellow-dropshadow: #FBE1A3;
    --orange-shadow: #FEC356;
}

/* general styling */
header,
footer {
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background: linear-gradient(to top, var(--purple-transparent), var(--purple));
}

footer {
    background: linear-gradient(to top, var(--purple), var(--purple-transparent));
}

main {
    min-height: calc(100vh - 240px);
    width: 100%;
    background: linear-gradient(to top, var(--pink), var(--pink-transparent));
    display: flex;
    justify-content: center;
    align-items: center;
}

/* headlines */
h2 {
    text-align: center;
    padding: 20px;
    text-shadow: 1px 1px 5px var(--orange-shadow);
}

h3 {
    padding: 8px;
    box-shadow: 2px 2px 5px var(--orange-shadow);
}

/* Container */
.bookListContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.bookContainer {
    height: 700px;
    width: 350px;
    box-shadow: 5px 5px 5px 5px var(--yellow-dropshadow);
    background: linear-gradient(to top, var(--yellow), var(--yellow-transparent));
    border-radius: 15px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.highlightSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    font-weight: bold;
    box-shadow: 2px 2px 5px var(--orange-shadow);
}

.likeSection {
    display: flex;
    align-items: center;
}

.bookInformations {
    padding: 8px;
    text-align: center;
    box-shadow: 2px 2px 5px var(--orange-shadow);
}

.commentDepartment {
    padding: 8px;
    overflow-y: scroll;
    scrollbar-width: thin;
    display: flex;
    height: 200px;
    text-align: left;
    box-shadow: 2px 2px 5px var(--orange-shadow);
}

table {
    border-collapse: separate;
    border-spacing: 0px 8px;
}

th {
    vertical-align: top;
    padding-right: 8px;
}

td {
    vertical-align: top;
}

.inputSection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    box-shadow: 2px 2px 5px var(--orange-shadow);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

/* media queries */
@media (max-width: 424px) {
    .bookContainer {
        margin: 20px 0 20px 0;
        height: 700px;
        width: 270px;
    }

    .bookImages {
        height: 200px;
        width: 270px;
        object-fit: fill;
        box-shadow: 2px 2px 5px var(--orange-shadow);
    }

    .nameInput {
        width: 70px;
        height: 30px;
        padding: 5px;
    }

    .commentInput {
        width: 130px;
        height: 30px;
        margin-right: 8px;
        padding: 5px;
    }

}